html {
    height: 100%;
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    background: linear-gradient(to right, #43C6AC, #F8FFAE);
}

h1, p, #neutral {
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
    color: white;
}

#formula-div {
    font-family: 'Francois One', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
}

.btn-check {
    border: 2px solid black;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Francois One', sans-serif;
    border-color: white;
    color: white;
}

.btn-check:hover {
    background-color: rgba(248, 255, 174, 0.5);
    color: white;
}

.output-field {
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
    color: white;
}